<div>
   <div class="container" >
        <div class="row">
            <div class="toolsandslide">
            <div class="row2 col-md-1">
                <div class="file" data-title="View">
                    <span class="glyphicon glyphicon-eye-open fl" aria-hidden="true" ng-click="showPresentation()"></span>
                </div>
                <div class="file" data-title="Open">
                    <a ui-sref="gallery">
                    <span class="glyphicon glyphicon-folder-open fl" aria-hidden="true" ></span>
                    </a>
                </div>
                <div class="file" data-title="Save" ng-click="savePresentation()">
                    <span class="glyphicon glyphicon-floppy-save fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Delete" ng-click="deletePresentation()">
                    <span class="glyphicon glyphicon-trash fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Log out">
                    <a href="/signout">
                        <span class="glyphicon glyphicon-log-out fl" aria-hidden="true" ></span>
                    </a>
                </div>
                <button colorpicker type="button" class="mbutton" colorpicker-position="top" ng-model="color">Color</button>


            </div>
            <div class="row2 col-md-2 tools " >
                <div class="tool" ng-file-select ng-multiple="true" title="upload" resetOnClick="true" ng-model="files">
                    <span class="glyphicon glyphicon-picture tl" aria-hidden="true"></span>
                    Image
                </div>
                <div class="tool" ng-click="chooseVideo()">
                    <span class="glyphicon glyphicon-film tl" aria-hidden="true"></span>
                    Video
                </div>
                <div class="tool" ng-click="submitText()">
                    <span class="glyphicon glyphicon-font tl" aria-hidden="true"></span>
                    <br>
                      Text
                </div>
                <div class="tool" ng-click="submitRectangle('border: 1px solid black')">
                    <img src="img/rectangle.png">
                    Rectangle
                  </div>
                <div class="tool" ng-click="submitEllipse('border: 1px solid black; border-radius: 50%')">
                    <img src="img/ellips.png">
                    Ellipse
                </div>

            </div>
                <div class="row2 col-md-9 " >
                        <div class="slide" id="slide" ng-show="slides.length">
                        <fieldset>
                            <div ng-repeat="video in slides[slideIndex].videos">
                                    <div dnd-draggable="true" class="draggable video"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style="{{video.style}}" ng-style="selectStyle"
                                         ng-dblclick="showMenuVid()">
                                        <div id="menuVid" style="  display: none;">
                                            <div ng-click="selectStyle={zIndex:'50'}" class="elem">Top</div>
                                            <div class="elemls">Bottom</div>
                                        </div>
                                        <iframe  width="100%" height="100%" ng-src="{{video.link}}" frameborder="0" allowfullscreen controls></iframe>
                                        <span class="glyphicon glyphicon-remove-sign" style="top: -16px; left: 100%" ng-click="slides[slideIndex].videos.splice($index,1)"></span>
                                    </div>
                            </div>
                            <div ng-repeat="image in slides[slideIndex].images">
                                <div dnd-draggable="true" class="draggable image"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style="{{image.style}}" ng-style="selectStyle"
                                        ng-dblclick="showMenuImg()">
                                        <div id="menuImg" style="  display: none;">
                                            <div ng-click="selectStyle={zIndex:'50'}" class="elem">Top</div>
                                            <div class="elemls">Bottom</div>
                                        </div>
                                        <img width="100%" height="100%" ng-src="{{image.secure_url}}">
                                        <span class="glyphicon glyphicon-remove-sign" style="top: -16px; left: 100%" ng-click="slides[slideIndex].images.splice($index,1)"></span>
                                </div>
                            </div>
                            <div ng-repeat="rectangle in slides[slideIndex].rectangles"  >
                                    <div dnd-draggable="true" class="draggable rectangle"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style="{{rectangle.style}}" ng-style="rectStyle"
                                         ng-dblclick="showMenuRec()">
                                        <div id="menuRec" style="  display: none;">
                                            <div class="elem" ng-click="rectStyle={background: color, border:color}">Color</div>
                                            <div class="elem" ng-click="rectStyle={background: color, border:color,zIndex:'50'}">Top</div>
                                            <div class="elemls" ng-click="rectStyle={background: color, border:color,zIndex:'1'}">Bottom</div>
                                        </div>
                                        <span class="glyphicon glyphicon-remove-sign" style="top: -16px; left: 100%" ng-click="slides[slideIndex].rectangles.splice($index,1)"></span>
                                    </div>
                            </div>
                            <div ng-repeat="ellipse in slides[slideIndex].ellipses">
                                    <div dnd-draggable="true" class="draggable ellipse"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style={{ellipse.style}} ng-style="rectStyle"
                                         ng-dblclick="showMenuEll()">
                                        <div id="menuEll" style="  display: none;">
                                            <div class="elem" ng-click="rectStyle={background: color, border:color}">Color</div>
                                            <div class="elem" ng-click="rectStyle={background: color, border:color,zIndex:'50'}">Top</div>
                                            <div class="elemls" ng-click="rectStyle={background: color, border:color,zIndex:'1'}">Bottom</div>
                                        </div>
                                        <span class="glyphicon glyphicon-remove-sign" style="top: -16px; left: 100%" ng-click="slides[slideIndex].ellipses.splice($index,1)"></span>
                                    </div>
                            </div>
                            <div ng-repeat="text in slides[slideIndex].texts track by $index">
                                <div dnd-draggable="true" class="draggable text"
                                     dnd-containment="'.slide'"
                                     dnd-rotatable = "true"
                                     dnd-resizable = "true"
                                     dnd-on-dragend="" 
                                     style="{{text.style}}" ng-style="selectStyle"
                                     ng-dblclick="showMenuTex()">
                                    <div id="menuTex" style="  display: none;">
                                        <div ng-click="selectStyle={zIndex:'50'}" class="elem">Top</div>
                                        <div class="elemls">Bottom</div>
                                    </div>
                                    <textarea rows="1" style="width: 100% height: 100%"></textarea>
                                    <span class="glyphicon glyphicon-remove-sign" style="top: -16px; " ng-click="slides[slideIndex].texts.splice($index,1)"></span>
                                </div>
                            </div>
                            </fieldset>
                        </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="menuslides">
                <div class="row1 col-md-1"></div>
                <div class="row1 col-md-2 menu" style="text-align: center">
                    <div class="form-group" style="width: 90px;margin: 0 auto; color: white;text-align: left;
                font-size: medium">
                        <label for="sel1" style="margin-left: 7px;">Size:</label>
                        <select class="form-control" id="sel1" ng-model="size" ng-click="submitSize()">
                            <option value="16">16 x 9</option>
                            <option value="4">4 x 3</option>
                        </select>
                    </div>
                    <div  class="ui-widget ui-corner-all ui-state-error glyphicon glyphicon-plus-sign"
                          style="margin-top: 10px" ng-click="submitSlide()">
                    </div>
                </div>
                <div class="row1 col-md-9">
                    <div class="arrow" ng-click="changeShowSlideIndex(false)">
                        <span class="glyphicon glyphicon-menu-left fl" aria-hidden="true"></span>
                    </div>

                    <div sort style="position: absolute;height: 120px; display: inline-block">
                        <div ng-repeat="slide in slides track by $index" ng-if="$index < showSlideIndex+5 && $index >= showSlideIndex" style="display: inline-block">
                            <div  class="ui-widget ui-corner-all ui-state-error0 minislide">
                                <div class="slide" id="minislide" style="transform: scale(0.3,0.25)" ng-click="setSlideIndex($index)">
                                    <div ng-repeat="video in slides[$index].videos">
                                        <div class="draggable" 
                                            style="{{video.style}}">
                                            <iframe  width="100%" height="100%" ng-src="{{video.link}}" frameborder="0" allowfullscreen controls></iframe>
                                        </div>
                                    </div>
                                    <div ng-repeat="image in slides[$index].images">
                                        <div class="draggable"
                                            style="{{image.style}}">
                                            <img width="100%" height="100%" ng-src="{{image.secure_url}}">
                                        </div>
                                    </div>
                                    <div ng-repeat="rectangle in slides[$index].rectangles"  >
                                        <div class="draggable"
                                            style="{{rectangle.style}}" ng-style="rectStyle">
                                        </div>
                                    </div>
                                    <div ng-repeat="ellipse in slides[$index].ellipses">
                                        <div class="draggable"
                                            style={{ellipse.style}} ng-style="rectStyle">
                                        </div>
                                    </div>
                                    <div ng-repeat="text in slides[$index].texts track by $index">
                                        <div class="draggable"
                                             style="{{text.style}}">
                                            <textarea rows="1" width="100%" height="100%"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <span class="glyphicon glyphicon-remove-sign" style="top: -16px; left: 100%" ng-click="slides.splice($index,1)"></span>
                            </div>
                        </div>
                    </div>
                    <div class="arrow" style="position: absolute;margin-left: 870px;" ng-click="changeShowSlideIndex(true)">
                        <span class="glyphicon glyphicon-menu-right fl" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
    </div >
</div>