<div>
   <div class="container" >
        <div class="row" ng-controller="appController">
            <div class="toolsandslide">
            <div class="row2 col-md-1">
                <div class="file" data-title="View">
                    <span class="glyphicon glyphicon-eye-open fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Open">
                    <span class="glyphicon glyphicon-folder-open fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Save">
                    <span class="glyphicon glyphicon-floppy-save fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Delete">
                    <span class="glyphicon glyphicon-trash fl" aria-hidden="true" ></span>
                </div>
                <div class="file" data-title="Log out">
                    <a href="/signout">
                        <span class="glyphicon glyphicon-log-out fl" aria-hidden="true" ></span>
                    </a>
                </div>
            </div>
            <div class="row2 col-md-2 tools " >
                <div class="tool" ng-file-select ng-multiple="true" title="upload" resetOnClick="true" ng-model="files">
                    <span class="glyphicon glyphicon-picture tl" aria-hidden="true"></span>
                    Image
                </div>
                <div class="tool" ng-click="chooseVideo()">
                    <span class="glyphicon glyphicon-film tl" aria-hidden="true"></span>
                    Video
                </div>
                <div class="tool" ng-click="submitText()">
                    <span class="glyphicon glyphicon-font tl" aria-hidden="true"></span>
                    <br>
                      Text
                </div>
                <div class="tool" ng-click="submitRectangle('border: 3px solid red', true)">
                    <img src="img/rectangle.png">
                    Rectangle
                </div>
                <div class="tool" ng-click="submitEllipse('border: 3px solid red; border-radius: 50%', true)">
                    <img src="img/ellips.png">
                    Ellipse
                </div>
            </div>

                <div class="row2 col-md-9 " >
                        <div class="slide">
                        <fieldset>

                            <div ng-repeat="video in videos">
                                    <div dnd-draggable="true" class="draggable"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="">
                                        <iframe  width="100%" height="100%" ng-src="{{video.link}}" frameborder="0" allowfullscreen controls></iframe>
                                    </div>
                            </div>
                            <div ng-repeat="image in images">
                                <div dnd-draggable="true" class="draggable"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="">
                                        <img width="100%" height="100%" max-width="100px" max-height="100px" ng-src="{{image.secure_url}}">
                                </div>
                            </div>
                            <div ng-repeat="rectangle in rectangles">
                                    <div dnd-draggable="true" class="draggable"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style={{rectangle.style}}></div>
                            </div>
                            <div ng-repeat="ellipse in ellipses">
                                    <div dnd-draggable="true" class="draggable"
                                        dnd-containment="'.slide'"
                                        dnd-rotatable = "true"
                                        dnd-resizable = "true"
                                        dnd-on-dragend="" 
                                        style={{ellipse.style}}></div>
                            </div>
                            <div ng-repeat="text in texts">
                                <div dnd-draggable="true" class="draggable"
                                     dnd-containment="'.slide'"
                                     dnd-rotatable = "true"
                                     dnd-resizable = "true"
                                     dnd-on-dragend="">
                                    <textarea rows="1" width="100%" height="100%"></textarea>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="menuslides" ng-controller="appController">
                <div class="row1 col-md-1"></div>
                <div class="row1 col-md-2 menu" ></div>
                <div class="row1 col-md-9 "  >
                    <div class="arrow">
                        <span class="glyphicon glyphicon-menu-left fl" aria-hidden="true"></span>
                    </div>
                    <span id="sortable" style="position: absolute">
                        <div  class="ui-widget ui-corner-all ui-state-error minislidePlus" ng-click="submitSlide()"></div>
                        <div ng-repeat="slide in slides track by $index" style="display: inline-block" class="ui-widget ui-corner-all ui-state-error minislide"></div>
                    </span>
                    <div class="arrow">
                        <div class="glyphicon glyphicon-menu-right fl" aria-hidden="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div >
</div>