<div class="abstract">
<div class="row" style="height: 100px"></div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 form">
        <div class="gallery">
        <a ui-sref="gallery" style="color:white;padding: 20px;font-size:xx-large;opacity: 0.7;top:20 ">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="top: 10px;"></span>
        </a>
        </div>
        <div cloud a="[]" style="height: 200px"></div>

        <label>Title:</label>
        <br>
        <input type="text" name="title" id="title" placeholder="Title" required="true" style="color:black" ng-model="title"/>
        <br>
        <label>Tags:</label>
        <br>
        <input type="text" name="tags" id="tags" placeholder="Tags" required="true" style="color:black" ng-model="tags"/>
        <br><br>
        <button ui-sref="app" type="submit" class="btn btn-default" name="signin" id="signin" style="margin-bottom: 25px;">
            + Create
        </button>

    </div>
    <div class="col-sm-4"></div>
</div>
    <div class="row" style="height: 120px"></div>
</div>