<div class="abstract" >
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 form" >
        <h2> My presentations</h2>
        <hr>
       <div class="presentation">
            <div class="title">Nature</div>
            <div class="firstside"></div>
        </div>

        <div class="presentation">
            <div class="title">Office</div>
            <div class="firstside"></div>
        </div>

        <a ui-sref="cloud" style="color:white; padding: 20px;font-size:xx-large;opacity: 0.7; top:20 ">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" style="bottom: 10px;"></span>
        </a>

    </div>
    <div class="col-sm-1"></div>
</div>
</div>