<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="../bower_components/angularjs/angular.min.js"></script>
      <script type="text/javascript" src="../bower_components/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> 
  <script type="text/javascript" src="../bower_components/ng-file-upload/dist/ng-file-upload.min.js"></script> 
</head>
<body>

      <div>
        <form name="myForm">
          <fieldset>
            <legend>Upload on form submit</legend>
            Username: <input type="text" name="userName" ng-model="username" size="39" required="">
            <i ng-show="myForm.userName.$error.required">*required</i><br>
            Profile Picture: <input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/*" required="">
            <i ng-show="myForm.file.$error.required">*required</i>
            <br>

            <button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button>
            <img ng-show="picFile != null" ngf-src="picFile" class="thumb">
            <span class="progress" ng-show="picFile.progress >= 0">
                <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'" class="ng-binding"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
          </fieldset>
          <br>
        </form>
      </div>
      <fieldset>
        <legend>Play with options</legend>
        <div class="up-buttons">
          <div ngf-select="" ngf-drop="" ng-model="files" ng-model-rejected="rejFiles" ngf-multiple="multiple" ngf-accept="accept" accept="{{acceptSelect}}" ng-disabled="disabled" ngf-capture="capture" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-min-size="minSize" ngf-max-size="maxSize" ngf-keep="keep" ngf-keep-distinct="keepDistinct" ngf-reset-on-click="resetOnClick" ngf-reset-model-on-click="resetModelOnClick" ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File
            <span ng-show="dropAvailable">or Drop</span></div>
          <br>
        </div>
        <div class="custom">
          <label>ngf-accept (accept/reject file model): <input type="text" ng-model="accept"></label><br>
          <label>accept (for select browser dependent): <input type="text" ng-model="acceptSelect"></label><br>
          <label>ngf-capture (for mobile): <input type="text" ng-model="capture"></label><br>
          <label>ngf-min-size: <input type="text" ng-model="minSize"></label><br>
          <label>ngf-max-size: <input type="text" ng-model="maxSize"></label><br>
          <label><input type="checkbox" ng-model="multiple">ngf-multiple (allow multiple files)</label><br>
          <label><input type="checkbox" ng-model="disabled">ng-disabled</label><br>
          <label><input type="checkbox" ng-model="allowDir">ngf-allow-dir (allow directory drop Chrome only)</label><br>
          <label><input type="checkbox" ng-model="keep">ngf-keep (keep the previous model values in ng-model)</label><br>
          <label><input type="checkbox" ng-model="keepDistinct">ngf-keep-distinct (do not allow duplicates)</label><br>
          <label><input type="checkbox" ng-model="resetOnClick">ngf-reset-on-click (reset file input and model on
            click)</label><br>
          <label><input type="checkbox" ng-model="resetModelOnClick">ngf-reset-model-on-click (reset model on
            click)</label><br>
        </div>

        <div class="preview">
          <div>Preview image/audio/video:</div>
          <img ngf-src="files[0]" ng-show="files[0].type.indexOf('image') > -1" ngf-accept="'image/*'">
          <audio controls="" ngf-src="files[0]" ng-show="files[0].type.indexOf('audio') > -1" ngf-accept="'audio/*'"></audio>
          <video controls="" ngf-src="files[0]" ng-show="files[0].type.indexOf('video') > -1" ngf-accept="'video/*'"></video>
        </div>
      </fieldset>
      <br>
    
</body>
</html>